.row.propertyTypeList__inner
    .col-lg-6.col-md-5.col-12
        +bgImgLink(imgDataPath + 'property-type/property-1.jpg','propertyTypeList__images effectImg', url + "ready-built-factory.html")
    .col-lg-6.col-md-7.col-12.d-flex.align-items-center
        .propertyTypeList__item
            h4.propertyTypeList__item__title: a(href=url + "ready-built-factory.html") Ready-built factories
            p.propertyTypeList__item__text We develop best-in-class ready-built factories with various factory sizes from 1,000 sqm and above to meet any demands from any investors looking for production sites in Vietnam. With 08 sites in 05 different cities, we help investors to find the right location for their businesses.
            a.btn-link.btn-gray(href=url + "/ready-built-factory.html") 
                | LEARN MORE
                i.ic-link
.row.propertyTypeList__inner
    .col-lg-6.col-md-5.col-12
        +bgImgLink(imgDataPath + 'property-type/property-2.jpg','propertyTypeList__images effectImg', url + "logistics-warehouses.html")
    .col-lg-6.col-md-7.col-12.d-flex.align-items-center
        .propertyTypeList__item
            h4.propertyTypeList__item__title: a(href=url + "logistics-warehouses.html") Logistics warehouses
            p.propertyTypeList__item__text We aim to satisfy the rising demand for modern logistics warehouses in Vietnam. Our land locations offers different warehouse purposes with proximity to Hanoi & HCMC international airports as well as to international maritime gateway of the North (Hai Phong) & South (Dong Nai).
            a.btn-link.btn-gray(href=url + "/logistics-warehouses.html")  
                | LEARN MORE
                i.ic-link
    
.row.propertyTypeList__inner
    .col-lg-6.col-md-5.col-12
        +bgImgLink(imgDataPath + 'property-type/property-3.jpg','propertyTypeList__images effectImg', url + "built-to-suit-project.html")
    .col-lg-6.col-md-7.col-12.d-flex.align-items-center
        .propertyTypeList__item
            h4.propertyTypeList__item__title: a(href=url + "built-to-suit-project.html") Built-To-Suit Projects
            p.propertyTypeList__item__text We offers one-stop shop where investors can oversee from design stage, construction period to the handover date of their specific requested factories. Not only built-to-suit projects reduce intial investment capitals, but also they maximize the productivity for our investors.
            a.btn-link.btn-gray(href=url + "/built-to-suit-project.html") 
                | LEARN MORE
                i.ic-link
.row.propertyTypeList__inner
    .col-lg-6.col-md-5.col-12
        +bgImgLink(imgDataPath + 'property-type/property-4.jpg','propertyTypeList__images effectImg', url + "sale-and-lease-back.html")
    .col-lg-6.col-md-7.col-12.d-flex.align-items-center
        .propertyTypeList__item
            h4.propertyTypeList__item__title: a(href=url + "sale-and-lease-back.html") Sale and Lease back
            p.propertyTypeList__item__text We offers an unique industrial products to factory and warehouse owners which an owner of a property can sell his assets, then leases it back from BW Industrial. A Sale & Lease Back allows sellers to activate working capital that is currently in the form of property (i.e existing factory/warehouse). We are seeking but not limited to the following potential target customers: FMCG, Blue chip Multi-national Companies & Logistics warehouse operators.
            a.btn-link.btn-gray(href=url + "/sale-and-lease-back.html")  
                | LEARN MORE
                i.ic-link
    